body{
  border: 1px solid black;
  margin: 20px 50px;
  box-shadow: -10px -1px 20px 10px; 
}
/*main heading*/
main>h1{
  height: 20vh;
  font-size: 9vh;
  margin-top: 10px;
}
/*all articles need padding*/
section>article{
  padding: 30px;
}
/*make images rounded*/
img{
  border-radius: 100%;
}
/*section two paragraphs*/
.two p:nth-child(odd){
  padding: 20px 5px;
  background-color: lightgrey;
}
/*give all h3 headings padding*/
h3{
  padding: 20px 5px;
  margin: 20px 0px;
}
/*styling list elements*/
li{
  padding: 6px 12px;
  margin: 10px;
  border-radius: 15px;
  background-color: lightgrey;
  list-style-type: none;
}
/* form properties start here */
.card{
  color: #00f;
}
.card-block{
  background-color: rgba(128, 128, 128, 0.68);
}
.card-header{
  padding-left: 4px;
  font-weight: bold;
}
/*form properties end here*/
