/*main heading*/
main>h1{
  height: 20vh;
  font-size: 9vh;
  margin-top: 10px;
}

section>article{
  padding: 30px;

}

img{
  border-radius: 100%;
}

.two p:nth-child(odd){
  padding: 20px 5px;
  background-color: lightgrey;
}
h3{
  padding: 20px 5px;
}
li{
  padding: 6px 12px;
  margin: 10px;
  border-radius: 15px;
  width: 70%;
  display: block;
  background-color: lightgrey;
}
/* form properties start here */
.card{
  color: #00f;
}
.card-block{
  background-color: rgba(128, 128, 128, 0.68);
}
.card-header{
  padding-left: 4px;
  font-weight: bold;
}
/*form properties end here*/
